<!-- <div class="list-group">
  <h4 *ngIf="gifts.length===0">Aun no hay regalos</h4>
  <div class="list-group-item mb-2" *ngFor="let gift of gifts">
    <gift-item [gift]="gift"></gift-item>
  </div>
</div> -->

<div class="container">
  <h2 *ngIf="gifts.length === 0">Aun no has agregado regalos a tu lista</h2>
  <div class="row g-5">
    <div class="col-lg-4 px-4 mb-3 d-flex align-items-stretch" *ngFor="let gift of gifts">
      <gift-item class="w-100" [gift]="gift"></gift-item>
    </div>
  </div>
</div>