.container {
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas si es necesario */
  }
  
  .col-lg-4, .col-md-6 {
    display: flex;
    align-items: stretch; /* Asegura que los elementos en la columna se estiren para igualar la altura */
  }

  .disclaimer {
    background-color: #ebf8ff;
    border-left: 4px solid #4299e1;
    color: #2b6cb0;
    padding: 1rem;
    margin-top: 1rem;
  
    .disclaimer-title {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }