.container {
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas si es necesario */
  }
  
  .col-lg-4, .col-md-6 {
    display: flex;
    align-items: stretch; /* Asegura que los elementos en la columna se estiren para igualar la altura */
  }

  