<!-- <div class="d-flex">
  <div class="w-50">
    <img class="gift-img" src="{{gift.image}}" alt="{{gift.name}}">
  </div>
  <div class="w-50">
    <h4>{{gift.name}}</h4>
    <hr *ngIf="gift.description">
    {{gift.description??''}}
    <hr>
    <a *ngIf="gift.url" href="{{gift.url}}">Link</a>
    <div *ngIf="isAdmin" class="mt-3">
      <button class="btn btn-primary me-2" [routerLink]="[gift.uuid,'edit']">Editar</button>
      <button class="btn btn-danger me-2" (click)="deleteGift()">Eliminar</button>
    </div>
  </div>
</div> -->


<div class="card">
  <img src="{{gift.image}}" class="card-img-top gift-img" alt="Card Image">
  <div class="card-body d-flex flex-column">
    <h3 class="card-title">{{gift.name}}</h3>
    <p class="card-text mh-200 mb-4">{{gift.description}}</p>
    <a href="{{gift.url}}" class="link-primary">Link al producto</a>
    <div *ngIf="isAdmin && !isMyGifts" class="mt-2">
      <button mat-raised-button class="btn btn-primary me-2" [routerLink]="[gift.uuid,'edit']">
        Editar
      </button>
      <button mat-raised-button class="btn btn-danger me-2" (click)="deleteGift()">
        Eliminar
      </button>
    </div>
    <div *ngIf="isLoggedIn && !isMyGifts" class="mt-2">
      <!-- <button mat-button class="btn btn-primary me-2" [routerLink]="[gift.uuid,'edit']">Editar</button>
      <button mat-button class="btn btn-danger me-2" (click)="deleteGift()">Eliminar</button> -->
      <button mat-raised-button class="btn btn-success" (click)="addToMyGifts()">Agregar a mis regalos</button>
    </div>
  </div>
</div>