.gift-img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.mh-200{
  max-height: 200px;
  overflow-y: auto;
}

.icon-btn{
  min-width: initial;
}

.link{
  color: #499fba !important;
  text-decoration: none;
}

.link:hover{
  color: #0F4A64 !important;
  text-decoration: none;
}

.link-image{
  margin-top: 16px;
  display: block;
}

.mat-card-image{
  margin: 0;
}

.gift-title{
  margin-top: 10px !important;
}