.dropdown-menu.right{
  left: inherit;
  right: 0;
}

@media screen and (max-width: 991px){
  .dropdown-menu.right{
    left: 0;
    right: inherit;
  }
}

// .menu{
//   height: 20px;
//   line-height: 20px;
//   padding: 15px;        
//   border: 1px solid #666;
// }

// .icon-text{
//   box-sizing: border-box;
//     position: relative;
//     -webkit-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     outline: none;
//     border: none;
//     -webkit-tap-highlight-color: transparent;
//     display: inline-block;
//     white-space: nowrap;
//     text-decoration: none;
//     vertical-align: baseline;
//     text-align: center;
//     margin: 0;
//     min-width: 64px;
//     line-height: 36px;
//     padding: 0 16px;
//     border-radius: 4px;
//     overflow: visible;
// }