.dropdown-menu.right{
  left: inherit;
  right: 0;
}

@media screen and (max-width: 991px){
  .dropdown-menu.right{
    left: 0;
    right: inherit;
  }
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajusta el ancho del botón según sea necesario */
  height: 40px; /* Ajusta la altura del botón según sea necesario */
  padding: 0; /* Elimina el relleno por defecto */
}

.mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon fa-icon {
  font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
}