<div class="container my-4">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <h1 class="text-center">Instrucciones para los regalos</h1>
    </div>
    <div class="col-md-8 col-12">
      <mat-card>
        <h2>Muchas gracias por estar interesado en compartir un regalo con nosotros !!!!</h2>
        <p>
          Nos sentimos muy felices de compartir esta oportunidad, y los regalos que se encuentran en esta
          pagina son los que hemos encontrado escenciales para formar nuestro hogar.
        </p>
        <p>
          Eres libre de escoger cuantos regalos te gustaria compartir con nosotros o llevar un regalo
          de tu elección, tambien hemos habilitado la opcion de que nos puedas hacer un deposito o yape
          puedes encontrar esa informacion al final de la pagina
        </p>
        <p>
          Si ya elegiste un regalo, puedes verlo en la pestaña "mis regalos", todos los regalos tienen links a la
          tienda donde los hemos encontrado.
        </p>
        <p>
          para poder entregarnos el regalo, puedes enviarlo a nuestra casa:
          <a href="https://goo.gl/maps/Fiz2kcwxSpHntky1A" target="_blank">C.H Dean Valdivia Sector 4 Mz.P Lt.4 Cayma</a>
          <a routerLink="/login" *ngIf="!isLoggedIn">Inicia sesion para ver la direccion</a>
        </p>
        <!-- <img mat-card-image src="/assets/qr-yape-cut.jpg" alt="yape-qr"> -->
      </mat-card>
    </div>
  </div>
</div>