<div class="container my-4">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <h1 class="text-center">Instrucciones para los regalos</h1>
    </div>
    <div class="col-md-8 col-12">
      <mat-card>
        <h2>Muchas gracias por estar interesado en compartir un regalo con nosotros !!!!</h2>
        <p>
          Nos sentimos muy felices de compartir esta oportunidad, y los regalos que se encuentran en esta
          pagina son los que hemos encontrado escenciales para formar nuestro hogar.
        </p>
        <h2>Que debo hacer?</h2>
        <p>
          Eres libre de escoger cuantos regalos te gustaria compartir con nosotros, solo haz click en el boton
          agregar a mis regalos, o puedes llevar un regalo
          de tu elección, tambien hemos habilitado la opcion de que nos puedas hacer un deposito o yape
          puedes encontrar esa informacion al final de la pagina.
        </p>
        <h2>Que hacer luego de elegir un regalo?</h2>
        <p>
          Si ya elegiste un regalo, puedes verlo en la pestaña <span *ngIf="!isLoggedIn">"mis regalos"</span><a
            routerLink="/gifts/my" *ngIf="isLoggedIn">"Mis Regalos"</a>, todos los regalos tienen links a la
          tienda donde los hemos encontrado.
        </p>
        <p>
          Estamos gustosos de recibir los regalos en la recepción o puedes enviarlos o llevarlos a nuestras casas
          <a *ngIf="isLoggedIn" href="https://maps.app.goo.gl/r8TcVtAPowQFxcL17" target="_blank">Av 12 de Octubre Pasaje Chachani 208 - Cerro Colorado</a> O en <a *ngIf="isLoggedIn" href="https://maps.app.goo.gl/NGtLkjCxqoRV5Bmd6" target="_blank">Calle Abraham Valdelomar 125 Ampliacion Paucarpata</a>
          <a routerLink="/login" *ngIf="!isLoggedIn">Inicia sesion para ver la direccion</a>
        </p>
        <p *ngIf="isLoggedIn">
          Si tienes alguna duda o comentario, puedes escribirnos a <a href="mailto:franco.chp@gmail.com">
           franco.chp@gmail.com
          </a>
          o llamar al <a href="tel:+51953945798">+51 944 178 530</a>
        </p>
        <h2>Informacion bancaria</h2>
        <p>
          Mi número de cuenta Interbank Soles es 898 3306270496.
          <br>
          Mi número de cuenta interbancaria es 003-898-013306270496-49.
        </p>
        <div class="col-12 row justify-content-md-center">
          <div class="col-6 qr-yape">
            <mat-card>
              <mat-card-header>
                <mat-card-title>My Yape QR es:</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image src="/assets/qr-yape.jpeg" alt="yape-qr">
              <mat-card-content class="text-center">
                <p>
                  Lucero Llaiqui Lobon
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-6 qr-yape">
            <mat-card>
              <mat-card-header>
                <mat-card-title>My Plin QR es:</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image src="/assets/qr-plin.jpeg" alt="yape-qr">
              <mat-card-content class="text-center">
                <p>
                  Franco Chavez Ponce
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
      </mat-card>
    </div>
  </div>
</div>