/* You can add global styles to this file, and also import other style files */
.clickable{
  cursor: pointer;
}
.img-responsive { 
  display: block;
  max-width: 100%;
  height: auto;
}
.w-250px {
  width: 250px;
}